{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
        <h2 class="login-heading">Eastwood Administration</h2>
        <div class="login-box">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary login-button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}